ENVIRONMENT=development
SERVER_ADDRESS=:8080

# Database Connections
DB_HOST=localhost
DB_PORT=5433
DB_USER=user
DB_PASSWORD=pass
DB_NAME=api_db
DB_SSLMODE=disable

# Redis Connections
REDIS_HOST=localhost
REDIS_PORT=6380

# Secrets
JWT_SECRET_KEY=my_super_secret_key
